%link{href: "/css/fileinput.css", :type => "text/css", :rel => "stylesheet" }
%h1
  Files
#alert-wrapper.col-md-12
.col-md-6
  %form{method:"post", enctype:'multipart/form-data', action: "/files", role:'form'}
    %input#userfile{type:'file',name:'userfile'}    
    %label
      %input{type: 'checkbox', name: 'public'}
      Make File Public (Anyone will be able to see this file)
.col-md-12
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        Uploaded Files
    .panel-body
      %table.table
        %thead
          %tr
            %th.col-md-4 Filename
            %th.col-md-2 Public
            %th.col-md-2 Date created
            %th Actions
        %tbody
          - @files.each do |f|
            %tr
              %td.filename&= f.filename
              %td.public&= f.public
              %td&= f.created_at
              %td.actions
                %a.load{href: f.load_path}
                  %span.glyphicon.glyphicon-folder-open.col-md-2
                %a.public{href: f.public_path}
                  %span.glyphicon.glyphicon-globe.col-md-2
                %a.delete{href: f.delete_path}
                  %span.glyphicon.glyphicon-remove-circle.col-md-2
.col-md-12
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        Public Files
    .panel-body
      %table.table
        %thead
          %tr
            %th.col-md-6 Filename
            %th.col-md-2 Owner
            %th Actions
        %tbody
          - @public.each do |f|
            %tr
              %td.filename&= f.filename
              %td.owner&= f.user.username
              %td.actions
                %a.btn.btn-primary.load{href: f.load_path} Load

%script{src: "/js/fileinput.js"}
%script{src: "/js/files.js"}
